$primary-bg: #1e1e1e;
$secondary-bg: #2e2e2e;
$dropdown-bg: #262525;
$white: #ffffff;
$gray: #9ca3af;
$green: #10b981;
$red: #ef4444;
$light_gray: #453c3c;
$green_shade: #2b402b;
$red_shade: rgb(105 58 58);

$font-primary: 'Roboto', sans-serif;
$border-radius: 8px;
